
<!doctype html>
<html>
<head>
	<link href='{{ url_for('static', filename='helloworld.css') }}' rel='stylesheet' type='text/css'/>
	<title>Hello World in Flask</title>
</head>
<body>
	<strong>Hello world, I'm a Flask app!</strong>
  <footer>
      Coming from the <a href="https://doc.{{ domain }}/Quickstart">Quickstart</a>?
    Check out <a href="https://doc.{{ domain }}/Guides/Python/HelloWorld">the explanation</a>.
  </footer>
</body>
</html>
