body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ityped-cursor {
  font-size: 42px;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
      opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
      opacity: 0;
  }
}

body {
  width: 50%;
  margin: 0 auto;
  font-size: 42px;
  display: flex;
  justify-content: center;
}